{% extends 'common/dashboard/auth.html' %}
{% load staticfiles %}

{% block authentication_title %}
Check your email!
{% endblock %}

{% block authentication_text %}
There should me a message from us with a password reset link. If you don't see it, be sure to check your spam folder.
{% endblock %}

{% block authentication_form %}
<div class="authentication_form_title">
    Password Reset
</div>

<div class="authentication_form_label">
    EMAIL
</div>
<input id="reset_password_email" name="email" class="authentication_form_input" type="text" placeholder="Email Sent!" disabled />

<div class="authentication_form_extra_links">
    <div class="authentication_form_extra_link_text">
        <strong>Done!</strong> Check your email to get your temporary password.
    </div>
</div>

{% endblock %}