{% extends 'common/dashboard/auth.html' %}
{% load staticfiles %}

{% block authentication_title %}
Forgot your password?
{% endblock %}

{% block authentication_text %}
Enter your email address and we'll send you a link that will let you reset your password.
{% endblock %}

{% block authentication_form %}
<div class="authentication_form_title">
    Password Reset
</div>

<div class="authentication_form_label">
    EMAIL
</div>
<input [(ngModel)]="email" id="reset_password_email" name="email" class="authentication_form_input" placeholder="Email address" type="text" (keyup.enter)="reset_password(email);" required />
<div *ngIf="error_message != ''" class="authentication_form_error">{% verbatim %}{{error_message}}{% endverbatim %}</div>

<button class="authentication_form_button" (click)="reset_password(email);" [disabled]="!email">
    Send Password
</button>

<div class="authentication_form_extra_links">
    <div class="authentication_form_extra_link_text">
        Remember your password now?
    </div>
    <a href="/login" class="authentication_form_extra_link">
        Log In
    </a>
</div>

{% endblock %}
