*.py[cod]
.idea/*
*.iml
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.pid
*.ai
*.psd
*.log
*.iml
.idea/
.project
.pydevproject
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
*.sw[op]
.sass-cache/
db.sqlite3
lib64
perms.sh
setup.sh
celerybeat-schedule
pyvenv.cfg
bin/
include/
lib/
local/
man/
static_collected/
node_modules/
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir
.coverage
db.sqlite3-journal
referral/csv/*
referral/generated/*
repkings/media/*
