# App

Django==1.10
djangorestframework==3.4.4
slothauth==0.6.1
govtrack==0.1
celery==3.1.23
django-celery==3.1.17
django-localflavor==1.2

# Testing

factory_boy==2.6.1

# Utility

django-extensions==1.6.1
Werkzeug==0.11.9
