{% extends 'base.html' %}
{% load staticfiles %}

{% block extra_head %}
{% endblock %}

{% block content %}
<div id="header">
    <div id="header_logo">Scintilla</div>
    <div id="header_links_container">
        <a href="" class="header_link">
            Buy
        </a>
    </div>
</div>
<div id="home_container">
    <div id="home_top_section" class="section">
        <div id="home_top_section_content">
            <div id="home_top_section_title">
                Scintilla
            </div>
            <div id="home_top_section_tagline">
                "Bring air quality data into the 21st century."
            </div>
        </div>
    </div>
    <div id="home_nasa_section" class="section">
        <div id="home_nasa_section_content">
            <div id="home_nasa_section_text">
                Global Finalists of the 2016 NASA Space Apps Challenge for "Project Scintilla"
            </div>
            <div id="home_nasa_section_space_apps_challenge_container">
                <div id="home_nasa_section_space_apps_challenge_logo">
                    <img src="" />
                </div>
                <a href="https://2016.spaceappschallenge.org/challenges/earth/aircheck/projects/scintilla" id="home_nasa_section_space_apps_challenge_link">
                    Scintilla Project Page
                </a>
            </div>
        </div>
    </div>
    <div id="home_how_it_works_section" class="section">
        <div id="home_how_it_works_section_content">
            <div class="home_how_it_works_section_column">
                <div class="home_how_it_works_section_column_text">
                    Easily deploy one or many air quality monitoring outposts...
                </div>
                <div class="home_how_it_works_section_column_image">
                    <img src="" />
                </div>
            </div>
            <div class="home_how_it_works_section_column">
                <div class="home_how_it_works_section_column_text">
                    ...and see all the data in our beautiful but powerful dashboard
                </div>
                <div class="home_how_it_works_section_column_image">
                    <img src="" />
                </div>
            </div>
        </div>
    </div>
    <div id="home_use_cases_section" class="section">
        <div id="home_use_cases_section_content">
            <div id="home_use_cases_section_title">
                Great for:
            </div>
            <div id="home_use_cases_section_columns_container">
                <div class="home_use_cases_section_column">
                    <div class="home_use_cases_section_column_title">
                         Compliance
                    </div>
                    <div class="home_use_cases_section_column_text">
                        Download reports. Support open during business hours.
                    </div>
                </div>
                <div class="home_use_cases_section_column">
                    <div class="home_use_cases_section_column_title">
                        Home
                    </div>
                    <div class="home_use_cases_section_column_text">
                        If you'd prefer not to have a gimmicky second-rate sensor.
                    </div>
                </div>
                <div class="home_use_cases_section_column">
                    <div class="home_use_cases_section_column_title">
                        Science
                    </div>
                    <div class="home_use_cases_section_column_text">
                        Download in standard science data formats. Open API usable with other sensors.
                        <a href="https://github.com/scintilla-aircheck/">Open source</a>.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="footer">

</div>
{% endblock %}
